<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>restaurante</title>
</head>
<body>

    <header>
        <div class="nav">
         <ul>
            <li>restaurante</li>
         </ul>
       
           <ul>
               <li>Produtos</li>
           </ul>

           <ul>
            <li>Planos</li>
           </ul>

           <img class="logo" src="imagens/LOGO 2.png " alt="">
           <ul>
            <li>Cardapio</li>
           </ul>

           <ul>
            <li>Contato</li>
           </ul>

          <ul>
         
            <button class="button-28" role="button">Entrar</button>
        
         </ul>

        </div>
        <div class="tela-preta"></div>
    </header>


    <section>
        <article>
            <input type="text" placeholder="Nome da Comida">
        </article>
    </section>
    
</body>
</html>